<webcam 
[height]="500" 
[width]="500" 
[trigger]="triggerObservable" 
(imageCapture)="handleImage($event)"
*ngIf="showWebcam" 
[allowCameraSwitch]="allowCameraSwitch" 
[switchCamera]="nextWebcamObservable"
[videoOptions]="videoOptions" 
[imageQuality]="1" 
(cameraSwitched)="cameraWasSwitched($event)"
(initError)="handleInitError($event)"
mirrorImage="never" 
    ></webcam>
<br />
<div mat-dialog-actions style=" justify-content: center;">
    <button mat-button id="scan_btn"(click)="triggerSnapshot();">Scan</button>
    <button mat-button id="close_btn" [mat-dialog-close] cdkFocusInitial> 
        <img src="../../assets/icons8-close-window-48.png"
            style="height:25px" /> </button>
</div>